

            <fieldset class="ui-corner-all" style="width:40%">
                <legend>Assessment Information</legend>
                <table width='90%' cellspacing="2" cellpadding="2" style='border-collapse: collapse;'>
                    <tr valign='top' style="border-bottom: 1px solid #CCCCCC;">
                        <td>
                            <strong style='white-space: nowrap;'>Year:</strong>
                        </td>
                        <td>
                            <strong style='white-space: nowrap;'>Land Value:</strong>
                        </td>
                        <td>
                            <strong style='white-space: nowrap;'>Improvement Value:</strong>
                        </td>
                        <td>
                            <strong style='white-space: nowrap;'>Total Value:</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2015
                        </td>
                        <td>
                            $22,848,500.00
                        </td>
                        <td>
                            $98,390,000.00
                        </td>
                        <td>
                            $121,238,500.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2014
                        </td>
                        <td>
                            $22,848,500.00
                        </td>
                        <td>
                            $96,880,300.00
                        </td>
                        <td>
                            $119,728,800.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2013
                        </td>
                        <td>
                            $17,411,300.00
                        </td>
                        <td>
                            $70,154,300.00
                        </td>
                        <td>
                            $87,565,600.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2012
                        </td>
                        <td>
                            $17,411,300.00
                        </td>
                        <td>
                            $70,154,300.00
                        </td>
                        <td>
                            $87,565,600.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2011
                        </td>
                        <td>
                            $17,411,300.00
                        </td>
                        <td>
                            $70,154,300.00
                        </td>
                        <td>
                            $87,565,600.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2010
                        </td>
                        <td>
                            $17,411,300.00
                        </td>
                        <td>
                            $64,087,300.00
                        </td>
                        <td>
                            $81,498,600.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2009
                        </td>
                        <td>
                            $17,411,300.00
                        </td>
                        <td>
                            $63,087,300.00
                        </td>
                        <td>
                            $80,498,600.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2008
                        </td>
                        <td>
                            $17,069,900.00
                        </td>
                        <td>
                            $61,850,300.00
                        </td>
                        <td>
                            $78,920,200.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2007
                        </td>
                        <td>
                            $16,735,200.00
                        </td>
                        <td>
                            $60,637,500.00
                        </td>
                        <td>
                            $77,372,700.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2006
                        </td>
                        <td>
                            $13,423,200.00
                        </td>
                        <td>
                            $53,523,000.00
                        </td>
                        <td>
                            $66,946,200.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2005
                        </td>
                        <td>
                            $12,784,000.00
                        </td>
                        <td>
                            $53,085,800.00
                        </td>
                        <td>
                            $65,869,800.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2004
                        </td>
                        <td>
                            $11,720,100.00
                        </td>
                        <td>
                            $50,624,000.00
                        </td>
                        <td>
                            $62,344,100.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2003
                        </td>
                        <td>
                            $10,915,600.00
                        </td>
                        <td>
                            $48,591,900.00
                        </td>
                        <td>
                            $59,507,500.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2002
                        </td>
                        <td>
                            $9,951,500.00
                        </td>
                        <td>
                            $45,258,500.00
                        </td>
                        <td>
                            $55,210,000.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2001
                        </td>
                        <td>
                            $8,960,200.00
                        </td>
                        <td>
                            $44,413,800.00
                        </td>
                        <td>
                            $53,374,000.00
                        </td>
                    </tr>
                </table>
            </fieldset>
