




<div style="width:60%">

	<fieldset class="ui-corner-all" style="min-width: 375px; margin: 1.5em 0 1.5em 0; margin: 0 5px; height: 100%">
		<legend>Base Information</legend>
		<div style="width:100%">
			<div id="menu" style="width:50%;float:left;">
				<table>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>SqFt Finished Living:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Style:</strong></td><td style='color:#CCCCCC;'>No Data</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Grade:</strong></td><td width='250px'>    </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Ext. Walls:</strong></td><td style='color:#CCCCCC;'>No Data</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Roof:</strong></td><td style='color:#CCCCCC;'>No Data</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Flooring:</strong></td><td style='color:#CCCCCC;'>No Data</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Bsmt. Type:</strong></td><td style='color:#CCCCCC;'>No Data</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Heating:</strong></td><td style='color:#CCCCCC;'>No Data</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Fireplace:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>FinishedAttic:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Unfinished Living:</strong></td><td width='250px'>0</td></tr>
				</table>
			</div>
			<div id="menu" style="width:50%;float:left;">
				<table>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Fireplace:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>YearBuilt:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Number Of Stories:</strong></td><td width='250px'>0.00</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Total Rooms:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Bedrooms:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Half Bathrooms:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Full Bathrooms:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Basement Garage:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Basement SqFt:</strong></td><td width='250px'>0</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Finished Basement:</strong></td><td width='250px'>0</td></tr>
				</table>
			</div>
		</div>
	</fieldset>

</div>

<script type="text/javascript">

$(document).ready(function(){
	//if the property has multiple cards on it call the pager function
	if($('#pager').length > 0){
	Pager("pager", false, "Real Estate Property Cards");
	}
	else if($('#pagerCommercial').length > 0){
	Pager("pagerCommercial", false, "Real Estate Property Cards");
	}
	});

</script>
