

<fieldset class="ui-corner-all" style="width:40%">
	<legend>Ownership Information</legend>
	<table width='100%' cellspacing="2" cellpadding="2" style='border-collapse: collapse;'>
		<tr valign='top' style="border-bottom: 1px solid #CCCCCC;">
			<td>
				<strong style='white-space: nowrap;'>Date of Sale:</strong>
			</td>
			<td>
				<strong style='white-space: nowrap;'>Sale Price:</strong>
			</td>
			<td>
				<strong style='white-space: nowrap;'>Owner Name:</strong>
			</td>
			<td>
				<strong style='white-space: nowrap;'>Book:</strong>
			</td>
		</tr>

			<tr>
				<td>
					10/23/2000
				</td>
				<td>
					$0.00
				</td>
				<td>
					FEDERAL REALTY INVESTMENT TRUST
				</td>
				<td>
					793:231
				</td>
			</tr>
	</table>
</fieldset>
