
<div class="innerScope">
    <table width="100%">
        <tr>
                <td width="50%" align="left">
                    <a href="javascript:GetPropertySheet(searchParams.searchOptionIndex, detailParams.Key, true); void(0);">
                        <img border="0" src="/GISViewer/Content/images/pdf_small.png" alt="PDF Print Details" />Printer-Friendly</a>
                </td>
            <td width="50%" align="right">
                <table>
                    <tr valign="bottom" style="white-space: nowrap">
                        <td id="MapLink">
                            <img border="0" src="Content/images/small_spinner.png" alt="checking for map" />
                        </td>
                        <td id="backLink">
                            <a style="padding-left: 10px" onclick="GoToTab(1)" href="javascript:void(0);">Back To Results<img src="Content/images/back.jpg"
                                style="padding-left: 10px" border='0' title="Back To Results" alt="Back To Results" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</br></br><b>
1117         EMMET ST N
</b></br></br></br>
        <div id='DetailDiv'>

            <ul style='padding-left: 2px;'>
                    <li><a href='#Summary'><span>Summary</span></a></li>
                    <li><a href='#Details'><span>Details</span></a></li>
                    <li><a href='#OwnershipHistory'><span>Ownership History</span></a></li>
                    <li><a href='#AssessmentHistory'><span>Assessment History</span></a></li>
            </ul>


                <div id='Summary'>




<div style="width:100%">
	<div id="menu" style="width:60%;float:left;">

		<fieldset class="ui-corner-all" style="min-width: 375px; margin: 1.5em 0 1.5em 0; margin: 0 5px; height: 100%">
			<legend>Base Information</legend>
			<div id="menu" style="width:50%;float:left;">
				<table>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Parcel Number:</strong></td><td width='250px'>010001000           </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>State Code:</strong></td><td width='250px'>4.0  Comm. &amp; Ind.</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Tax Type:</strong></td><td width='250px'>Taxable</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Zone:</strong></td><td width='250px'>URBH </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Appraiser:</strong></td><td width='250px'>JD </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Acreage:</strong></td><td width='250px'>39.8320</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Asmt Reason:</strong></td><td width='250px'>General Reassessment</td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Legal:</strong></td><td width='250px'>39.832 ACRES BARRACKS ROAD    SHOPPING CENTER                                                                           </td></tr>
				</table>
			</div>
			<div id="menu" style="width:50%;float:left;">
				<table>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Current Owner:</strong></td><td width='250px'>FEDERAL REALTY INVESTMENT TRUST                                       </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Attention:</strong></td><td width='250px'>                                   </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Owner Address:</strong></td><td width='250px'>1626 EAST JEFFERSON STREET         </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Owner City State:</strong></td><td width='250px'>ROCKVILLE MD                       </td></tr>
					<tr valign='baseline'><td><strong style='white-space:nowrap;'>Owner Zip Code:</strong></td><td width='250px'>208524041</td></tr>
				</table>
			</div>
		</fieldset>
		</br>
		<fieldset class="ui-corner-all" style="min-width: 375px; margin: 1.5em 0 1.5em 0; margin: 0 5px; height: 100%">
			<legend>Additional Data</legend>
			<table>
				<tr valign='baseline'><td><strong style='white-space:nowrap;'>Elementary School Zone:</strong></td><td width='250px'>Venable</td></tr>
				<tr valign='baseline'><td><strong style='white-space:nowrap;'>Voting Precinct:</strong></td><td width='250px'>Alumni-Hall</td></tr>
				<tr valign='baseline'><td><strong style='white-space:nowrap;'>Neighborhood:</strong></td><td width='250px'>Barracks Road</td></tr>
			</table>
		</fieldset>
		</br>
		<fieldset class="ui-corner-all" style="min-width: 375px; margin: 1.5em 0 1.5em 0; margin: 0 5px; height: 100%">
			<legend>Stormwater Utility Information</legend>
			<table>
				<tr valign='baseline'><td><strong style='white-space:nowrap;'>Impervious Area:</strong></td><td width='250px'>1,565,562 sq. ft.</td></tr>
				<tr valign='baseline'><td><strong style='white-space:nowrap;'>Billing Units:</strong></td><td width='250px'>3132</td></tr>
				<tr valign='baseline'><td><strong style='white-space:nowrap;'>Projected Stormwater Utility Annual Fee:</strong></td><td width='250px'>$45,100.80</td></tr>
			</table>
		</fieldset>
		</br>
	</div>

	<div id="content" style="width:30%;float:left;">
		<fieldset class="ui-corner-all" style="max-width: 300px; margin: 0 0 1.5em 0; margin: 0 5px; height: 100%">
				    <img src="http://realestate.charlottesville.org/CAMA/IMAGES/VIDEO/P0000050\P0025244.jpg" alt="Image Not Found" width="375" height="300" onerror="this.src='Content/images/PhotoNotFound_1102.jpg'; this.onerror=null;"/>

		</fieldset>
	</div>



</div>


                </div>
                <div id='Details'>

                        <img border='0' src='Content/images/new_loader.gif' alt='retrieving data...' /><br />Retrieving Data...                </div>
                <div id='OwnershipHistory'>

                        <img border='0' src='Content/images/new_loader.gif' alt='retrieving data...' /><br />Retrieving Data...                </div>
                <div id='AssessmentHistory'>

                        <img border='0' src='Content/images/new_loader.gif' alt='retrieving data...' /><br />Retrieving Data...                </div>
        </div>
</div>

<script type="text/javascript">
    detailParams.detailDivNames = ['#Summary','#Details','#OwnershipHistory','#AssessmentHistory'];
</script>
